.index-page {
  padding-top: 10px;
}
.index-page .row {
  margin-bottom: 20px;
}
.app-root {
  padding: 10px 0 20px;
}
.keypad {
  width: 80%;
  margin: 10px 10%;
}
.keypad [data-num] {
  width: 32%;
  text-align: center;
  display: inline-block;
}
.keypad [data-num][data-num="0"] {
  margin-left: 33.9%;
}
.keypad [data-num] span {
  transition: 500ms background, 500ms color;
  background: rgba(66, 133, 244, 0);
  font-size: 23px;
  line-height: 58px;
  height: 60px;
  width: 60px;
  border-radius: 60px;
  display: inline-block;
  border: 1px solid #4285f4;
  margin-bottom: 5px;
}
.keypad [data-num] span:active {
  transition: 100ms background, 100ms color;
  background: #4285f4;
  color: #fff;
}
.channel-confirm {
  text-align: center;
  margin: 10px 10px;
}
.channel-confirm span {
  border-radius: 5px;
  background: #eee;
  transition: 500ms all;
  display: inline-block;
  font-size: 23px;
  line-height: 42px;
  width: 100%;
}
.channel-confirm span:active {
  transition: 100ms all;
  background: #4285f4;
  color: #fff;
}
