<html>
<head>
	<title>Malden Alpha</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" href="pb/css/custom.css" />
</head>
<body>
	<br>
	<div class="container">
		<ul class="nav nav-pills">
			<li>
				<a href="/">Main</a>
			</li>
			<li>
				<a href="/tivo">TiVo</a>
			</li>
			<li>
				<a href="/denon">Denon</a>
			</li>
		</ul>
	</div>
	<br>
	{{{body}}}
	<script src="pb/amd/lib/require.js" data-main="pb/amd/main"></script>
</body>
</html>