<div class="container">
	<ul class="nav nav-pills">
		<li>
			{{#link-to 'index'}}
				{{glyph 'home'}}
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'keypad'}}
				{{glyph 'th'}}
			{{/link-to}}
		</li>
	</ul>
</div>
{{outlet 'body'}}