<div class="container input-page">
	<div class="row">
		<div class="col-xs-12">
			{{#each channels}}
				<button class="btn btn-block btn-default" {{action 'goToChannel' number}}>{{name}}</button>
				<br />
			{{/each}}
		</div>
	</div>
</div>





