
<p>Client Count: {{clientCount}}</p>
<p>Current Volume: {{volume}}</p>
<hr>
	<button class="btn btn-default" {{action 'decrease'}}>dn</button>
	<button class="btn btn-default" {{action 'increase'}}>up</button>
