<div class="container input-page">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-block btn-default" {{action 'denonCommand' 'SITV/CBL'}}>
				<img src="img/tivo.png" alt="">
			</button>
			<button class="btn btn-block btn-default" {{action 'denonCommand' 'SIDVR'}}>
				<img src="img/chromecast.png" alt="">
			</button>
			<button class="btn btn-block btn-default" {{action 'denonCommand' 'SIV.AUX'}}>
				<img src="img/xbox.png" alt="">
			</button>
		</div>
	</div>
</div>





