<br>
<div class="container">
	{{#if error}}
		<div class="alert alert-danger">
			<p>Error.</p>
		</div>
	{{/if}}
	{{#unless error}}
		<p class="lead text-center">MaldenAlpha Remote Control</p>
	{{/unless}}
</div>