<div id="tivoButtons" class="container">
	<div class="row">
		<div class="col-md-12">
			<span id="tivoStatus"></span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<button data-tivo-code="GUIDE" class="btn btn-default">Guide</button>
			<button data-tivo-code="TIVO" class="btn btn-default">TiVo</button>
		</div>
		<div class="col-md-4">
			
		</div>
		<div class="col-md-4">
			<button data-tivo-code="EXIT" class="btn btn-default">Exit</button>
		</div>
	</div>
</div>