<div id="tivoButtons" class="container">
	<div class="row">
		<div class="col-md-12">
			<span id="tivoStatus"></span>
		</div>
	</div>
	{{#each buttonLayout}}
	<div class="row">
		{{#each this}}
		<div class="col-xs-3 col-sm-3 col-md-2 col-lg-1">
			{{#if this}}
			<button data-tivo-code="{{this.[0]}}" class="btn btn-default btn-block">{{this.[1]}}</button>
			{{/if}}
		</div>
		{{/each}}
	</div>
	<br>
	{{/each}}
</div>