

.tivo-buttons.sending {
}

.tivo-buttons {
	position:relative;
}

.tivo-buttons .button-box {
	height:50px;
}

.tivo-buttons button {
	margin-bottom:10px;
}

#tivoStatus {
	position:absolute;
	display:none;
	width:30%;
	top:2%;
	left:35%;
	padding:5px;
	border:1px solid #bbb;
	border-radius:5px;
}

.tivo-buttons.sending #tivoStatus {
	/*display:block;*/
}


#volumeRange, #setVolume, #setInput {display:none;}